<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="com.model.Board" alias="Board"/>
		<typeAlias type="com.model.Order" alias="Order"/>
		<typeAlias type="com.model.Item" alias="Item"/>
	</typeAliases>
	
<!-- 		<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
				<property name="url" value="jdbc:oracle:thin:@localhost:1521:XE"/>
				<property name="username" value="kosta"/>
				<property name="password" value="1234"/>
			</dataSource>
		</environment>		
	</environments> -->
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="JNDI">
				<property name="data_source" value="java:comp/env/jdbc/oracle"/>
			</dataSource>
		</environment>		
	</environments>
	
	<mappers>
		<mapper resource="com/mapper/Board.xml"/>
		<mapper resource="com/mapper/Order.xml"/>
	</mappers>
	

</configuration>









